@import url('/src/Styles/Variaveis.css');

.rodape{
    display: flex;
    justify-content: space-around;
    background-color: var(--sexta_cor_transparente);
    width: 100vw;
    padding: 1rem 0;
    position: absolute;
}

.rodape__redes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
}

h5{
    font-size: 1.5rem;
    color: var(--terceira_cor);
    font-weight: bold;
}

.lista__redes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rodape__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    text-align: justify;
    width: 40%;
}

.rodape__info p{
    font-size: 1.2rem;
}