@import url(/src/Styles/Variaveis.css);

.nenhuma__receita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nenhuma__receita h3{
    font-size: 1.5rem;
    color: var(--quarta_cor);
}