@import url('/src/Styles/Variaveis.css');

.pagina{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.pagina h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--quarta_cor);
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2% 15% 1.6% 15%;
}