@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap');

:root{
    --primeira_cor: #FCE8AA;
    --segunda_cor: #97DE95;
    --terceira_cor: #08C299;
    --quarta_cor: #571179;
    --quinta_cor: #0F0F0F;

    --primeira_fonte: 'Montserrat', sans-serif;
}