@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap');

:root{
    --primeira_cor: #D3ECA7;
    --segunda_cor: #A1B57D;
    --terceira_cor: #B33030;
    --quarta_cor: #19282F;

    --primeira_fonte: 'Montserrat', sans-serif;
}