@import url('/src/Styles/Variaveis.css');

.formulario{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--segunda_cor);
    border: none;
    border-radius: 1rem;
    padding: 32px;
}

.campos{
    display: flex;
    justify-content: space-evenly;
}

.campo__receita{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--quarta_cor);
}

.campo__receita textarea{
    font-size: 1.2rem;
    min-width: 80%;
    min-height: 14rem;
    border-radius: 1rem;
    padding: 0.5rem;
    resize: none;
    outline: none;
    border: none;
}

/*Responsividade tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .campos{
        flex-direction: column;
        gap: 2rem;
    }
}


/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .campos{
        flex-direction: column;
        gap: 1rem;
    }
}