@import url('/src/Styles/Variaveis.css');

.formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--sexta_cor_transparente);
    border: none;
    padding: 3rem;
}

.campo__receita{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--terceira_cor);
}

.campo__receita textarea{
    font-size: 1.2rem;
    min-width: 90%;
    min-height: 16rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}