@import url(/src/Styles/Variaveis.css);

.cabecalho {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    width: 100vw;
}

.titulo__hamburguer__container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu__hamburguer{
    cursor: pointer;
}

.cabecalho__titulo {
    font-size: 2.5rem;
    color: var(--terceira_cor);
    font-weight: bold;
}

.navegacao__container {
    display: flex;
    gap: 1.5rem;
}

