@import url('./Styles/Reset.css');
@import url('/src/Styles/Variaveis.css');

body {
  background-color: var(--primeira_cor);
  font-family: var(--primeira_fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5rem;
  background-color: var(--terceira_cor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--segunda_cor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}