@import url(/src/Styles/EstilosGlobais.css);

body {
  margin: 0;
  background-color: var(--primeira_cor);
  font-family: var(--primeira_fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}